[package]
name = "cotton"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-compression = { version = "0.3.15", features = ["tokio", "gzip"] }
async-recursion = "1.0.0"
cached = "0.42.0"
clap = { version = "4.1.0", features = ["derive"] }
color-eyre = "0.6.2"
compact_str = { version = "0.6.1", features = ["serde"] }
dashmap = { version = "5.4.0", features = ["serde"] }
flume = "0.10.14"
futures = "0.3.25"
futures-lite = "1.12.0"
indexmap = { version = "1.9.2", features = ["serde"] }
indicatif = "0.17.2"
itertools = "0.10.5"
mimalloc = { version = "0.1.34", default-features = false }
nix = "0.26.1"
node-semver = { git = "https://github.com/danielhuang/node-semver-rs", rev = "3af6c068bc59f58683a536cbcf683c5cec69621f" }
notify = "=5.0.0"
once_cell = "1.17.0"
owo-colors = "3.5.0"
reqwest = { version = "0.11.13", features = [
  "json",
  "stream",
  "rustls-tls",
  "trust-dns",
  "brotli",
  "gzip",
  "deflate",
], default-features = false }
rustc-hash = "1.1.0"
serde = { version = "1.0.152", features = ["derive", "rc"] }
serde_json = { version = "1.0.91", features = ["preserve_order"] }
serde_path_to_error = "0.1.9"
tokio = { version = "1.24.1", features = ["full"] }
tokio-tar = { git = "https://github.com/danielhuang/tokio-tar", rev = "ac063a10224a9dcb16967e792c3075e0ee8bb1a7" }
tokio-util = { version = "0.7.4", features = ["compat"] }
tracing = "0.1.37"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }

[profile.dev]
opt-level = 3

[profile.release]
strip = true
lto = "thin"
